* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin: 40px auto;
}

h1 {
  color: #333;
}

html,
body {
  height: 100%;
  text-align: center;
}

.btn-chosen-color {
  background-color: lightgreen;
}

button {
  margin: auto 40px;
  border-color: aqua;
  border-width: 5px;
  width: 15%;
  height: 50px;
  color: white;
  background-color: #333;
  font-size: 1.2rem;
  border-radius: 15px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 40px auto;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background: blue;
}
